<div class="header">
  <div class="coffeeDiv">
    <button type="coffeeButton">
      <a href="http://">Buy me a Coffee</a>
    </button>
  </div>


    <ul class="navbar">
      <li class="homelink">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li class="aboutlink"> 
        <a [routerLink]="['/about']">About</a>
      </li>
      <li class="contactlink">
        <a [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
  

  <div class="travelCenter">
    <button type="travelButton">
      <a [routerLink]="['/travel']">Take me to Nowhere</a>
    </button>
  </div>

  <div class="userHeader">
    <h3>Entra</h3>
    <button type="registerButton">
      <a [routerLink]="['/register']">Regístrate</a>
    </button>
  </div>
</div>
